*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    background: #36F4D2;
    
}  

.QuadradoUm{
    height: 650px;
    width: 951px;
    justify-content: center;
    background-color: #B1FEAA;
    box-shadow: 0 0 1em black;
    border-radius: 2em;
}

.QuadradoUm h1{
    display: flex;
    align-items: center;
    justify-content: center;   
    margin-bottom: 25px;
}



.input-login{
    display: flex;
    align-items: center;
    height: 43%;
    justify-content: space-between;
    flex-direction: column;
}

.input-box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: column;
    height: 30vh;
}


.container-right{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* width: 230px; */
    height: 15%;
    /* background-color: #45C1C1; */
    border-radius: 50px;

}

.Logo_login{
    height: 100%;
}

.logo_img{
    height: 100%;
}

.container-right{
    justify-content: center;

}

.input-content{
    height: 7vh;
    width: 45vw;
}

.btn-login{
    height: 40px;
    width: 104px;
    font-family: 'Montserrat', sans-serif; 
    background-color: #368ff4;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: lightblue;
}